/* Resetando e configurando estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo img {
    max-width: 150px;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    margin-left: 20px;
}

header nav a:hover {
    background-color: #f1c40f;
    border-radius: 5px;
}

/* Área Principal */
.content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Hero Section */
.hero {
    background-image: url('https://via.placeholder.com/1500x500.png?text=Imagem+De+Fundo');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.hero button {
    padding: 10px 30px;
    font-size: 1rem;
    background-color: #f1c40f;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero button:hover {
    background-color: #e1b20f;
}

/* Estilo para formulário e tabelas */
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

/* Listagem de Veículos */
.vehicle-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.vehicle-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: calc(33% - 20px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.vehicle-item h3 {
    margin-bottom: 10px;
}

.vehicle-item p {
    margin-bottom: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .vehicle-item {
        width: 100%;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }
}
